<%- include('include/_header')%>

<main id="site-container">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left">All Users</i></a>
            </div>
        </div>
        <div class="form-tile text-center">
            <h2 class="text-dark">New User</h2>
            <span class="text-light">Use the below form to create new account</span>
        </div>
        
        <!--add user form-->
        <%- include('include/_form')%>
    </div>
</main>

 